<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <div>
        
        {% for post in posts %}
        <div class="post">
            <h1 class="title"> {{ post.title }} </h1>
            <div class="content">
                <p class="text"> {{ post.content }} </p>
                <img class="img_post" src="{{ post.photo.url }}" alt="">
            </div>
            <div class="content">
            {% if post.published_recently  %}
            <p>published recently</p>
            {% endif %}
            <p class="date"> {{ post.published_date }} </p>
            </div>
        </div>
        {% endfor %}
        
    </div>
</body>
</html>

<style>
    .post{
        box-shadow: 0px 5px 10px gray;
        margin: 2.5% 5% 1.5% 10%;
        padding: 2.5% 5% 1.5% 10%;
        border: solid;
        border-width: 0.5px;
        border-radius: 10px;
    }
    .title{
        margin-left: -5%;
    }
    .content{
        display: flex;
    }
    .text{
        width: 800px;
        font-size: 25px;
    }
    .img_post{
        margin-left: 30%;
        width: 500px;
        height: 500px;
    }
    .date{
        margin-left: 75%;
    }
    
</style>